<?php
	echo '<div class="page">
		<div id="content">
			<div class="contentrow">
				<div class="textcontainerleft">
					<h2>Communication is key.</h2>
					<p>Our experts believe that every customer should be 
					satisfied on the design of their website, so we think 
					it is important to communicate every step.</p>
				</div>
				<div class="picturecontainerright">
					<img src="' . $imgWebDesignBanner . '" alt="Web design banner"/>
				</div>
			</div>
			<div class="contentrow">
				<div class="picturecontainerleft">
					<img src="' . $imgMobileWebApp . '" alt="Mobile devices with web app"/>
				</div>
				<div class="textcontainerright">
					<h2>It is more than just a pretty picture.</h2>
					<p>Our experts believe that every customer should be 
					satisfied on the design of their website, so we think 
					it is important to communicate every step.</p>
				</div>
			</div>
			<div class="contentrow">
				<div class="textcontainerleft">
					<h2>Functional webdesign.</h2>
					<p>The digital world makes it easier for our customers 
					to translate ideas into a suiting webdesign, website, 
					mobile app or online application through which they 
					can maximize their profits.</p>
				</div>
				<div class="picturecontainerright">
					<img src="' . $imgImacWebsite . '" alt="Imac with website"/>
				</div>
			</div>
			<div class="contactrow">
				<h2>Practical experience is our proof!</h2>
				<p>For more information about what Pine can mean for you, 
				take a look at <a href=" ' . $home . ' ">our completed projects</a> or
				visit us at our headquarters in Eindhoven:</p>
				<p><a href="' . $contact . '">Contact</a></p>
			</div>
		</div>
	</div>';
?>