<?php	
	echo '<body>
		<div id="pageContent">
			<h1 id="pinePicture">
				<a href="' . $home . '"> <img src="' . $imgPineLarge . '" width="600" height="=200"></a>
			</h1>
			<h1 id="logOut">
				<a href="' . $logout . '">Log Out</a>
			</h1>
			<div id="companyContent">
				<div id="details">
					<div id="overview">
						<ul>
							<li><a href="' . $offers . '">Offers</a></li>
							<li><a href="' . $orders . '">Orders</a></li>
							<li><a href="' . $invoices . '">Invoices</a></li>
							<li><a href="' . $projects . '">Projects</a></li>
						</ul>
					</div>
					<div id="companyInformation">';
						
							include('../php/database_methods.php');
							
							$customerInformation = ObtainCustomerDetails($_SESSION['username']);
							$companyName = ObtainCompanyName($_SESSION['companyId']);
							
							$rowLabels = array('Contact person:', 'Company name:', 'Telephone no:', 'Address:', 'Postal Code:', 'Country:');
							$rowValues = array($_SESSION['firstName'], $companyName, $customerInformation["phone"], $customerInformation["address"], $customerInformation["postalCode"], $customerInformation["country"]);
							
							$length = count($rowLabels);
							
							echo "<table id='companyInformationTable'>";
							echo "<tbody>";
							for ($i = 0; $i < $length; $i++)
							{
								echo "<tr><td>" . $rowLabels[$i] . "</td>" . "<td>" . $rowValues[$i] . "</td>";
							}
							echo "</tbody>";
							echo "</table>";
						
					echo '</div>
				</div>
				<div id="projects">
					<h1 id="projectTitle">Current projects</h1>';
						
							$companyProjects = ObtainProjects($_SESSION['companyId']);
							foreach ($companyProjects as $row)
							{
								echo "<a style='display:block' href=''>";
								echo "<div class='project_x'>";
								echo "<h1 class='projectName'>" . $row["projectName"] . "</h1>";
								echo "<img class='projectImg' src=" . $row["projectPicture"] . ">";
								echo "</div>";
								echo "</a>";
							}
						
				echo '</div>
			</div>
		</div>';
?>