<?php
	echo '<body> 
	<div id = "page">
		<div id="content">
			<h1>
				<a href="' . $home . '"> <img src="' . $imgPineLarge . '" width="600" height="=200"></a>
			</h1>
			
			<div id="contact">
				<form onsubmit="return validateLogIn()" action="'. $login .'" method="POST">
					<fieldset>
						<legend>
						LOG IN
						</legend>
						<p>
							<label for="email">E-mail:</label>
							<input type="email" name="email" id="email" placeholder="Example@gmail.com" maxlength="50" required/>
						</p>
						<p>
							<label for="password">password:</label>
							<input type="password" name="password" placeholder="password" id="password" maxlength="50" required/>
						</p>
						<p>
							<input type="submit" name="Submit" value="Log In"/>
						</p>
						<p id="validationText"></p>
					</fieldset>
				</form> 
			</div>
		</div>
	</div>
    <script src="' . $validation . '"></script>';
?>