    <section> 
		<p style="color: #631878; font-size: 40px; text-align: center;">About Pine </p>       
    </section>  
    <div id = "page">
		<form action="" method="">
			<fieldset>
				<p style="text-align: left; font-family: Helvetica">  Pine is a technical services company dedicated to open standards. We provide software solutions and support to a wide variety of organizations in different sectors, such as defense, finance and telecommunication. </p>
				<p style="text-align: left; font-family: Helvetica"> Pine delivers a full suite of products based on open standrads. In addition, we provide consultancy and support for various software products.</p>
				<p style="text-align: left; font-family: Helvetica">You need a fully functional website, an application or a database infrastructure? Then Pine is the answer. </p>
				<p style="text-align: left; font-family: Helvetica">Turning your ideas into integrated solutions quickly is what our Pine experts do best.   You can rely on our deep technical expertise and proven methodology as we work alongside you throughout your entire solution lifecycle to successfully implement your solutions, maximize the value of your investment, and address your critical business needs. </p>
			</fieldset>                     
		</form>
    </div>