.left_col{
    margin-left: 170px;
    float:left;
    border:3px solid #333; color: black;
    width:200px;
    text-align: center;            
    padding-top: 10px;
    padding-right: 50px;
    padding-left: 50px;
   
    
}
.right_col{
    float:right;
    text-align: center;
    margin-right: 145px;
    border:3px solid #333;
    width:600px;
    padding-bottom: 14px;
    
    
}

.projects{
    text-align: left;
    border:3px solid #333;
    clear:both;
    border:3px solid #333;
    width:895px;
    margin-left: 170px;
    margin-top: 270px;
    padding-left: 50px;
    padding-top: 25px;
    padding-bottom: 25px;
    margin-right: 20px;
}
.offerbox{
    text-align: left;
    border:3px solid #333;
    clear:both;
    border:3px solid #333;
    width:895px;
    margin-left: 170px;
    margin-top: 80px;
    margin-bottom: 120px;
    padding-left: 50px;
    padding-bottom: 25px;
    padding-top: 25px;
}
.orderbox{
    text-align: left;
    border:3px solid #333;
    clear:both;
    border:3px solid #333;
    width:895px;
    margin-left: 170px;
    margin-top: 80px;
    padding-left: 25px;
    padding-bottom: 15px;
    padding-top: 15px;
}
.invoicebox{
    text-align: left;
    border:3px solid #333;
    clear:both;
    border:3px solid #333;
    width:895px;
    margin-left: 170px;
    margin-top: 80px;
    padding-left: 20px;
    padding-bottom: 10px;
    padding-top: 10px;
}

a:link {
       text-decoration: none;
       color: #631878;

}

.picturebox{
    float: left;
    margin-top: 50px;
    border:3px solid #333;
    width:500px; 
    margin-left: 400px;
    margin-bottom: 50px;
}
.image{
    height: 500px;
}


  a:visited { text-decoration: none;
             color:#631878;
}

p.big {
    line-height: 1.8;
}

.profile-banner{
    float:right;
    text-align: center;
    background-color: #73AD21;
}
.profilepic{
    border-radius: 50%;
    background-color: white;
    
}
.profilepic:hover{
    cursor: pointer;
    
}

.form{
    text-align: center;
    margin-right: 150px;
    margin-left: 170px;
}