#page {
	max-width: 810px;
	clear: both;
	margin: auto;
}

#searchbarcontact {
	#background-color: pink;
	padding: 5px;
	float: right;
}

#searchbarcontact input[name="search"] {
	border-radius: 20px;
	padding-left: 4px;
	padding-top: 2px;
	padding-bottom: 2px;
	border: 0px;
	border-width: 0.5px;
	border-style: solid;
	border-color: black;
	width: 320px;
}

#searchbutton {
	width:75px;
	padding: 1px;
	border-radius: 5px;
	border-width: 1px;
	border-style: solid;
	border-color: black;
}

#content {
	clear: both;
}

.columnleft {
	#background-color: blue;
	width: 400px;
	float: left;
	height: 574.5px;
	padding-bottom: 5px;
}

#senderinformation {
	padding: 5px 5px 5px;
}

#senderinformation legend {
	margin-bottom: 5px;
}

.tbandlb {
	margin: 5px 0px;
}

#nameinput {
	display: inline-block;
}

#nameinput input {
	margin-left: 2px;
	width: 325px;
	padding-left: 5px;
}

input[name="email"] {
	width: 325px;
	padding-left: 5px;
}

.columnleft textarea {
	height: 395px;
	width: 390px;
	padding: 0px;
	border-width: 0.5px;
	border-style: solid;
	margin: 0px;
	resize: none;
}

#senderinformation {
	text-align: left;
	width: 400px;
}

#textzone {
	margin-top: 37px;
	margin-bottom: 4px;
}

#textzone legend {
	padding: 5px 0px;
}

#sendtextmessage {
	width: 393px;
	padding: 1px;
	border-radius: 5px;
	border-width: 1px;
	border-style: solid;
	border-color: black;
}

.columnright {
	#background-color: red;
	margin-left: 400px;
	text-align: center;
	overflow: hidden;
	padding-bottom: 5px;
}

#details table {
	width: 400px;
	margin: 4px;
	border-width: 0.5px;
	border-style: solid;
}

#googleMap {
	margin: 5px;
	height: 400px;
}

#route {
	width: 400px;
	padding: 1px;
	border-radius: 5px;
	border-width: 1px;
	border-style: solid;
	border-color: black;
}

#validationText {
	position: absolute;
	margin-top: 8px;
	margin-bottom: 0px;
}