.footer {
	clear: both;
	color: #ffffff;
	background-color: #460e56;
	padding: 5px 0px;
}

.footer a:link {
	color: #ffffff;
}

.footer a:visited {
	color: #cccccc;
}

.footer a:hover {
	color: #666666;
}

.footer table {
	font-size: 14px;
	width: 100%;
}

.footer tr {
	text-align: center;
}

.footer p {
	margin: 5px;
	font-size: 11px;
}