#page {
	max-width: 810px;
	clear: both;
	margin: auto;
}

section { 
	padding-bottom: 20px;
	padding-left: 2px;
	margin-top: 50px;
	margin-left: 20px;
	font-family: 'Open-Sans', sans-serif;
	text-align: left;
} 



 div.gallery {
    margin: 30px;
    float: left;
    width: 250px;
    font-family: "Helvetica";
}

div.gallery:hover {
    border: 2px solid #631878;
}

div.gallery img {
    width: 100%;
    height: auto;
}

div.desc {
    padding: 5px;
    text-align: center;
    font-family: "Helvetica";
}
        
 div.info {

	padding-left: 80px;
	padding-right: 80px;
	padding-bottom: 50px;
	padding-top: 50px;
	margin-left: 80px;
	margin-right: 80px;}

div.info:hover {
	border: 2px solid #631878;
} 

fieldset {
	background-color: #F0F3F4;
	text-align: center;
	font-family: "Helvetica";
}

footer {
	margin-top: 100px;
}

a:link {
	text-decoration: none;
}       

body {
    margin: 0;
    padding: 0;
    font-family: 'Open-Sans', sans-serif;
    
}

/*/Navigation bar/*/
.nav {
    list-style: none;
    text-align: center;
    padding:  20px 0 20px;
    margin-top: 40px;
    font-size: 12px;
}

.nav li {
    display: inline-block;
    padding-right: 50px; 
}

.nav li a {
    color: black;
    text-decoration: none;
    font-weight: 400;
    font-size: 14px;
}

.nav li a:hover {
    color: green;
}

.logo {
    margin-left: 50px;
}

ul { 
	list-style-type: none;
    margin: 0;
    padding-left: 120px;
    overflow: hidden;
    background-color: white;
}
        
li {
	float: left;
	font-family: 'Open-Sans', sans-serif;
	font-size: 22px;
}


 nav li a, .dropbtn { 
	display: inline-block;
	color: #631878;
	text-align: center;
	text-decoration: none;
}


    
li#dropdown {
    display: inline-block;
}


.dropdown-content {
	display: none;
	position: absolute;
	background-color: #f9f9f9 ;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
	font-size: 15px;
}


.dropdown-content a {
    color: #631878;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}


.dropdown-content a:hover {
	background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
    display: block;
}


.nav {
    list-style: none;
    text-align: center;
    padding: 0 20px 0 20px;
}

.nav li {
    display: inline-block;
    padding-right: 50px;
}

.nav li a {
    color: black;
    text-decoration: none;
    font-weight: 600;
}

.nav li a:hover {
    color: green;
}

.logo {
    margin-left: 50px;
}

#validationText {
	color: #ff0000;
}