#content {
	max-width: 885px;
	margin: auto;
}

img {
	max-width: 100%;
	max-height: 100%;
}

.contentrow {
	clear: both;
	overflow: hidden;
	margin: 0px 10px;
	margin-top: 10px;
	width: 885px;
}

.textcontainerleft {
	text-align: center;
	width: 435px;
	float: left;
	font-size: 150%;
}

.textcontainerright {
	text-align: center;
	width: 435px;
	float: right;
	font-size: 150%;
}

.picturecontainerright{
	width: 435px;
	float: right;
	margin-left: 10px;
}

.picturecontainerleft{
	width: 435px;
	float: left;
	margin-right: 10px;
}

.contactrow {
	text-align: center;
	clear: both;
	font-size: 150%;
	margin: 10px 10px;
}

.contactrow a {
	text-decoration: none;
}

.contactrow a:link {
	color: #460e56;
}

.contactrow a:visited {
	color: #a21fc7;
}

.contactrow a:hover {
	color: #6c1584;
}