<?php
	echo '<div id="page">
		<form action="' . $search . '" method="POST" onsubmit="return validateSearch()">
			<div id="searchbarcontact">
				<input id="search" type="search" name="search" placeholder="Your search" required/>
				<input id="searchbutton" type="submit" value="Search"/>
			</div>
		</form>
		
		<div id="content">
		
			<div class="columnleft">
				<div id="contact">
					<form name="senderForm" action="' . $sendForm . '" method="POST" onsubmit="return validateFields()">
						<div id="senderinformation">
							<b><legend>
								Your details:
							</legend></b>
							<div class="tbandlb">
								<label for="name">Name:</label>
								<div id="nameinput">
									<input type="text" name="name" id="name" placeholder="Your name" maxlength="70" onblur="return validateName()" required/>
								</div>
							</div>
							<div class="tbandlb">
								<label for="email">E-mail:</label>
								<input type="email" name="email" id="email" placeholder="Example@gmail.com" maxlength="254" onblur="return validateEmail()" required/>
							</div>
						</div>
						<div id="validation">
							<b><p id="validationText"></p></b>
						</div>
						<div id="textzone">
							<b><legend>
								Your question:
							</legend></b>							
							<textarea name="message" id="message" maxlength="2000" onblur="return validateMessage()" required>Enter your question...</textarea>
						</div>
						<input id="sendtextmessage" type="submit" name="send" value="Send message"/>
					</form>
				</div>
			</div>
			
			<div class="columnright">
				<div id="details">
					<table>
						<thead>
							<tr>
								<th scope="col" width="150px" colspan="2">Company details</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>Company name:</td>
								<td>Pine</td>
							</tr>
							<tr>
								<td>Telephone no:</td>
								<td>+31 123 45 67 89</td>
							</tr>
							<tr>
								<td>Address:</td>
								<td>Kappastraat 123</td>
							</tr>
							<tr>
								<td>Postal code:</td>
								<td>1234 AB</td>
							</tr>
							<tr>
								<td>Country:</td>
								<td>The Netherlands</td>
							</tr>
						</tbody>
					</table>
				</div>
				<div id="map">
					<div id="googleMap"></div>
					<script>
						// Create two global references.
						var directionsService
						var directionsDisplay
					
						function initMap() {
							directionsService = new google.maps.DirectionsService();
							directionsDisplay = new google.maps.DirectionsRenderer();
							var fontys = {lat: 51.4521956, lng: 5.4808936};
							
							// Center the map around the Fontys campus, zoom in to make it more noticable.
							var map = new google.maps.Map(document.getElementById(\'googleMap\'), {
								zoom: 16,
								center: fontys
							});
							// Create a marker and add marker to the map at Fontys campus.
							var marker = new google.maps.Marker({
							position: fontys,
							map: map
							});
							directionsDisplay.setMap(map);
						}	
					</script>
					
					<script async defer src="https://maps.googleapis.com/maps/api/js?key='. $mapAPIkey .'&callback=initMap"></script>
					<button id="route" type="button" name="routedescription" onclick="routeDescription()">Route description</button>
				</div>
			</div>
			
		</div>
	</div>
	<script src="' . $validation . '"></script>
	<script src="' . $routeDescription . '"></script>';
?>