#pageContent {
	max-width: 880px;
	margin: auto;
}

#pinePicture {
	text-align: center;
}

#projectTitle {
	text-align: center;
}

#overview {
	float: left;
	margin: 10px;
	margin-left: 0px;
	height: 125px;
	border: 1px solid;
	// border-color: #f2f2f2;
}

#companyInformation {
	overflow: hidden;
	border: 1px solid;
	// border-color: #f2f2f2;
	margin: 10px;
	margin-right: 0px;
}

#logOut {
	margin-left: 8px;
}

#details {
	overflow: hidden;
}

#companyInformationTable {
	width: 400px;
	font-size: 14px;
	margin: auto;
	text-align: center;
}

#companyContent {
	margin: 8px 0px;
}

ul {
	padding: 0px;
	display: grid;
	height: 125px;
}

li a {
	display: block;
	 
}
li a:link {
	color: #8c1aff;
	 
}

li a:visited {
	color: #7300e6;
}

li a:hover {
	color: #4d0099;
	text-decoration: underline;
}

.project_x {
	overflow: hidden;
	height: 100px;
	line-height: 100px;
	border: 1px solid;
	margin: 10px;
	// border-color: #f2f2f2;
}

.projectName {
	display: inline-block;
	margin: 0px;
	padding-left: 20px;
}

.projectImg {
	height: 100%;
	float: right;
}

#projects {
	border: 1px solid;
	// border-color: #f2f2f2;
}