<?php 
	echo '<fieldset>
		<div class="Back-end technologies">
			<a href ="' . $backEnd . '"> <img src="' . $imgBackEnd . '" width="200" height="150" align="left" alt = "Banner1"/>
			We provide fully functional back-end technologies to support any needs for your website
			</a>
			<a href="' . $backEnd . '">(Read more...)</a>
		</div>        
	</fieldset>
	<fieldset>
		<div class="Webdesignpanel">
			<a href ="'. $webDesign .'"> <img src="' . $imgWebDesign . '" width="200" height="150" align="left" alt = "Banner1"/>
				Our experts believe that every customer should be satisfied on the design of their website, so we think it is <a href="' . $webDesign . '">(Read more...)</a>
			</a>
		</div>        
	</fieldset>
	<fieldset>	
		<div class="AppDevolpmentPanel">
			<a href ="' . $appDevelopment . '"> <img src="' . $imgAppDevelopment . '" width="200" height="150" align="left" alt = "Banner1"/>
				Your challenges, our solution, we can provide fully functional applications based on any requirements <a href="' . $appDevelopment . '">Read more...</a>
			</a>
		</div>        
	</fieldset>
	<fieldset>	
		<div class="Databasedevolpment panel">
			<a href ="' . $databaseDevelopment . '"> <img src="' . $imgDatabaseDevelopment . '" width="200" height="150" align="left" alt = "Banner1"/>
				We provide back-end infrastructure and maintenance to manage and grow your website using our database expertise <a href="' . $databaseDevelopment . '">Read more...</a>
			</a>
		</div>        
	</fieldset>';
?>