<?php	
	echo '<section> 
		<p> We believe it is important to showcase our work.</p> 
	    <p> Here are some completed projects we are proud of.</p>
    </section>
	
    <div class="gallery">
        <img src="' . $_1 . '" width="=300" height="150" align="left" alt="sometext" />
        <div class="desc">A solution to space management in your garden...<i>read more</i>
        </div>
	</div>   
    
    <div class="gallery">
    <img src="' . $_2 . '" width="=300" height="250" align="left" alt="sometext" />
		<div class="desc">Simple and effictive solution to Event Management...<i>read more</i>
		</div>
	</div>     
	<div class="gallery">
    <img src="' . $_3 . '" width="=300" height="150" align="left" alt="sometext" />
		<div class="desc">A solution to space management in your garden...<i>read more</i>
		</div>
	</div>   
    <div class="gallery">
    <img src="' . $_4 . '" width="=300" height="150" align="left" alt="sometext" />
        <div class="desc">A solution to space management in your garden...<i>read more</i>
		</div>
	</div>   
    <div id = "page">
		<div id="info">
			<form action="" method="">
				<fieldset>
					<p> Interested in seeing what Pine</p>
					<p>can mean for you company,  feel free to contact us right away!</p>
					<p>Or visit us at our headquarters.</p>
					<b><p><a href="' . $contact . '" style="color: black">Contact</a></p></b>
				</fieldset>  
			</form>
		</div>
	</div>';
?>